name: Purge Caches

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]+"
    paths:
      - "**.json"
  release:
    types: [created, edited, published]
  workflow_dispatch:

jobs:
  purgeCache:
    name: Purge Jsdelivr Cache
    runs-on: ubuntu-latest
    steps:
      - name: Purge Pixiv Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/pixiv.json)
          if echo $result |grep -q 'finished'; then
            echo "Pixiv 书源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi

      - name: Purge Linpx Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/linpx.json)
          if echo $result |grep -q 'finished'; then
            echo "Linpx 书源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi

      - name: Purge BTSRK Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/btsrk.json)
          if echo $result |grep -q 'finished'; then
            echo "BTSRK 订阅源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi

      - name: Purge Books Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/books.json)
          if echo $result |grep -q 'finished'; then
            echo "Books 订阅源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi

      - name: Purge Import Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/import.json)
          if echo $result |grep -q 'finished'; then
            echo "Import 订阅源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi

      - name: Purge Normal Cache
        run: |
          result=$(curl -s https://purge.jsdelivr.net/gh/${{github.repository_owner}}/PixivSource@main/normal.json)
          if echo $result |grep -q 'finished'; then
            echo "Normal 书源 jsdelivr 缓存更新成功"
          else
            echo $result
          fi